@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* commons */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header */
.header-box{
    display: flex;
    justify-content: center;
}
.header-section{
    display: flex;
    width: 1100px;
    background-color: #0b0b0b;
    color: white;
    padding: 50px;
    margin-top: 25px;
    border-radius: 25px;
}
.world-cup-img{
    width: 345px;
    padding-right: 25px;
    padding-top: 10px;
}
.fifa-headline{
    font-size: 60px;
    line-height: 1.1;
    margin: 0px 0px 10px 15px;
    width: 500px;
    padding: 10px 25px 0px 25px;
}
.fifa-paragraph{
    width: 700px;
    padding: 0px 0px 25px 40px;
}
.get-tickets{
    text-decoration: none;
    color: white;
    background-color: #9b072e;
    padding: 15px;
    border-radius: 10px;
    margin:25px 0px 0px 37px;
}

/* side panel */

.side-panel{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 170px;
    height: 170px;
    background-color: #0b0b0b;
    padding: 15px;
    border-radius: 10px;
    margin:100px 15px 0px 122px;
}
.side-panel-buttons{
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.blog{
    background-color: #9b072e;
    color: white;
}

/* Side-panel */

/* Articles panel */

main{
    display: flex;
}
.articles-panel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 990px;
    margin: 100px 0px 100px 0px;
    border-radius: 15px;
}
.article{
    width: 300px;
    border: 2px solid #dbdada70;
    border-radius: 15px;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}
.article-image{
    width: 290px;
    border-radius: 10px;
    margin: 5px 0px 0px 5px;
}
.article-title{
    font-size: 16px;
    font-weight:300;
    padding-left: 35px;
    margin-bottom: 0;
}
.article-title-arg{
    font-size: 16px;
    font-weight:300;
    padding-left: 55px;
    margin-bottom: 0;
}
.date-time{
    /* margin:0px 5px 0px 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}
/* Articles-panel end*/

/* Footer */
footer{
    background-color: #0b0b0b;
    height: 300px;
}
.goal{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
hr{
    width: 1200px;
    border: 1px solid #8080803c;
}
.nav-center{
    display: flex;
    justify-content: center;
}
nav{
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #ffffff3c;
}

/* Media Query start */


/* Header */
@media only screen and (max-width:668px) {
    body{
        width: 100%;
    }
    .header-box{
        width: 100%;
    }
    .header-section{
        width: 60%;
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
.fifa-headline{
    font-size: 45px;
    width: 100%;
    text-align: center;
    padding: 10px 0px 0px 0px;
    margin-left: 0;
}
.fifa-paragraph{
    width: 100%;
    text-align: center;
    padding: 0px 0px 25px 10px;
    padding-left: 0%;
}
.get-tickets {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    margin: 20px;
}
.world-cup-img{
    width: 100%;
}
 /* Header end */

 /* Side panel and article start*/
 .side-panel{
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin: 15px 0px 15px 0px;
    align-items: center;
 }
 .side-panel a{
    border: 2px solid #80808022;
    font-size: 16px;
    font-weight: 700;
 }
 .blog{
    padding: 5px 40px;
 }
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .articles-panel{
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    width: 90%;
    margin: 0;
 }
 .article{
    width: 90%;
 }
 .article-image{
    width: 100%;
    margin: 0px 5px 5px 0px;
 }
 .article-title{
    width: 90%;
    padding: 0px;
    margin: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .article-title-arg{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .view-all{
    display: none;
 }
 /* side panel and articles done  */

 /* Footer     */
 footer{
    width: 100%;
    height: auto;
 }
 .goal{
    padding-top: 25px;
 }
 hr{
    width: 70%;
 }
 footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    row-gap: 25px;
 }
}